streamlit
embedchain
langchain-text-splitters
pysqlite3-binary
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
